version: "3"

services:
  evmos:
    container_name: evmosd
    build:
      context: .
      dockerfile: evmos/Dockerfile
      args:
        commit_hash: v11.0.2
        repo: "evmos"
    image: "local-zones/evmos:latest"
    hostname: evmosd
    ports:
      - "26656-26657:26656-26657"
      - "9090:9090"
      - "1317:1317"
      - "8545:8545"
    networks:
      localnet:
        ipv4_address: 172.16.99.4
    command: ./init.sh
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:26657/status"]
      interval: 30s
      timeout: 10s
      retries: 5
  stride:
    container_name: strided
    build:
      context: .
      dockerfile: stride/Dockerfile
      args:
        commit_hash: v9.1.1
    image: "local-zones/stride:latest"
    hostname: strided
    networks:
      localnet:
        ipv4_address: 172.16.99.3
    ports:
      - "26658-26659:26656-26657"
      - "9091:9090"
      - "1318:1317"
    command: ./init.sh
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:26657/status"]
      interval: 30s
      timeout: 10s
      retries: 5
  relayer:
      container_name: relayer
      image: "local-zones/relayer:latest"
      hostname: relayer
      networks:
        localnet:
          ipv4_address: 172.16.99.5
      build:
        context: .
        dockerfile: relayer/Dockerfile
        args:
          commit_hash: v1.5.1
      depends_on:
        - evmos
        - stride
      command: bash -c "/root/wait && /root/start_hermes.sh"
networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.99.0/24
          gateway: 172.16.99.1

